header,footer {
    background-color: mistyrose;
    padding: 0.5rem;
}

header {
    width: 100%;
}

header nav ul {
    display: flex;
    padding: 0px;
    list-style: none;
    
}
header ul li{
    width: 20%;
    text-align: center;
    
}

header ul li a{
    display: block;
    padding: 0.5rem;
    color:rosybrown;
    text-decoration: none;
    font-weight: bold;
}

body{
    min-width: 700px;
}

header ul li + li {
    border-left: 2px solid white;
}

.breadcrumbs{
    list-style: none;
    display: flex;
}

.breadcrumbs li::after{
    content: ">";
    padding: 0 0.5rem;
}

.breadcrumbs li:last-child::after{
    content: "";
}

.breadcrumbs li a:link{
    color: rgb(11, 13, 18);
}

.breadcrumbs li a:visited{
    color: rgb(138, 159, 166);
}

.breadcrumbs li a:hover{
    text-decoration: none;
}

body{
    font-family: 'Yuji Syuku', serif;
}
.background{
    background-image: url(img/menu/header.jpg);
    background-position: center;
}
.logo{
    text-align: center;
    background-color: rgba(0,0,0,0.26);
}
header img{
    width: 30rem;
    display: inline-block;
}