@charset "utf-8";
.item{
    background-color: rgb(225, 36, 36);
    
    margin: 10px;
    width: 100px;
   /* height: 100px;*/
    padding: 10px;
}
.box{
    height: 200px;
    align-items: stretch;
    display: flex;
    background-color: blueviolet;
    justify-content: space-between;
}